<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.records.mapper.AttendanceRecordsMapper">
    
    <resultMap type="AttendanceRecords" id="AttendanceRecordsResult">
        <result property="recordId"    column="record_id"    />
        <result property="userId"    column="user_id"    />
        <result property="clockInTime"    column="clock_in_time"    />
        <result property="clockOutTime"    column="clock_out_time"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectAttendanceRecordsVo">
        select record_id, user_id, clock_in_time, clock_out_time, created_at from attendance_records
    </sql>

    <select id="selectAttendanceRecordsList" parameterType="AttendanceRecords" resultMap="AttendanceRecordsResult">
        <include refid="selectAttendanceRecordsVo"/>
        <where>  
            <if test="recordId != null "> and record_id = #{recordId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="clockInTime != null "> and clock_in_time = #{clockInTime}</if>
            <if test="clockOutTime != null "> and clock_out_time = #{clockOutTime}</if>
        </where>
        order by record_id desc
    </select>
    
    <select id="selectAttendanceRecordsByRecordId" parameterType="Long" resultMap="AttendanceRecordsResult">
        <include refid="selectAttendanceRecordsVo"/>
        where record_id = #{recordId}
    </select>

    <insert id="insertAttendanceRecords" parameterType="AttendanceRecords" useGeneratedKeys="true" keyProperty="recordId">
        insert into attendance_records
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="clockInTime != null">clock_in_time,</if>
            <if test="clockOutTime != null">clock_out_time,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="clockInTime != null">#{clockInTime},</if>
            <if test="clockOutTime != null">#{clockOutTime},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateAttendanceRecords" parameterType="AttendanceRecords">
        update attendance_records
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="clockInTime != null">clock_in_time = #{clockInTime},</if>
            <if test="clockOutTime != null">clock_out_time = #{clockOutTime},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteAttendanceRecordsByRecordId" parameterType="Long">
        delete from attendance_records where record_id = #{recordId}
    </delete>

    <delete id="deleteAttendanceRecordsByRecordIds" parameterType="String">
        delete from attendance_records where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>